
table {
  text-align: center;
}

.table_top {
  background-color: rgba(190, 190, 190, 0.69);
}

textarea {
  resize: none;
}

form {
  margin-top: 5px;
}

.btn-primary {
  padding: 10px 20px;
  margin-top: 15px;
}

html body {
  font-family: 'Lato', sans-serif;
}

header, footer {
  background-color: #373331;
  color: #e6e8e1;
  text-align: center;
}

header span {
  color: #d18040;
}

.accent {
  background-color: #d18040;
}

