//wprowadzam bardzo ważne zmiany
table {
  text-align: center;
}

.table_top {
  background-color: rgba(190, 190, 190, 0.69);
}

textarea {
  resize: none;
}

form {
  margin-top: 5px;
}

.btn-primary {
  padding: 10px 20px;
  margin-top: 15px;
}