
table {
  text-align: center;
}

.table_top {
  background-color: rgba(190, 190, 190, 0.69);
}

textarea {
  resize: none;
}

form {
  margin-top: 5px;
}

.btn-primary {
  padding: 10px 20px;
  margin-top: 15px;
}

$lightest-color:#e6e8e1;
$darkest-color:#373331;
$accent-color:#d18040;
$secondary-color:#c3afa0;
$secondary-color-third: #c8ccd1;

html body{
  font-family: 'Lato', sans-serif;
}

header, footer{
  background-color: $darkest-color;
  color: $lightest-color;
  text-align: center;
}

header span{
  color: $accent-color;
}

.accent{
  background-color: $accent-color;
}

